<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
	</startup>
	<appSettings>
		<add key="DeploymentBaseUrl" value="http://10.21.10.1:8102"/>
		<!-- Base URLs -->
		<add key="LevyBaseUrl" value="http://10.21.10.1:8108/" />

		<!-- API Endpoints -->
		<add key="GetLevyTicketsPagedEndpoint" value="api/LevyMonitor/GetAllLevy" />

		<!-- API PatronInforEndpoint Endpoints -->
		<add key="PatronInforEndpoint" value="api/LevyMonitor/GetPatronImage" />

		<!-- Remove file older than X days -->
		<add key="FileRetentionDays" value="1" />

		<!-- API Key -->
		<add key="ApiKey" value="MIxaX20UhVVvS5HHg5tRhmPijEb8ZZ9q" />

		<!-- TEST MODE -->
		<add key="UseTestData" value="false" />

		<!-- Cache settings -->
		<add key="CacheExpirySeconds" value="30" />

		<!-- Max connection attempts -->
		<add key="MaxReconnectAttempts" value="10" />

		<!-- Delay between connection attempts in milliseconds -->
		<add key="ReconnectDelayMilliseconds" value="10000" />

		<!-- SignalR Settings -->
		<add key="SignalRHubUrl" value="https:" />

		<add key="ApplicationVersion" value="1.0.0" />

	</appSettings>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed"
					culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-13.0.0.0" newVersion="13.0.0.0" />
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
</configuration>